.c-puzzle-container {
  position: relative;
}

.c-puzzle-container__hexagon {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: $color-alpha-light;
  border-radius: 50%;
  //transform: translateY(50%);
}

@for $col from 1 through 9 {
  .col-#{$col} {
    left: 53px + 84px*($col - 1);
  }
}

@for $row from 1 through 9 {
  .row-#{$row} {
    top: 51px + 48.5px*($row - 1);
  }
}