.c-board-container {
  @include flex-container();
  margin-bottom: $base-spacing-unit-large;
}

.c-puzzle {
  position: relative;
  height: 579px;
  width: 868px;
  min-width: 868px;
  margin-right: $base-spacing-unit;
}

.c-puzzle__solved {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
}

.c-puzzle__unsolved {
  @extend .c-puzzle__solved;
  opacity: 1;
  visibility: visible;
}

.c-puzzle__hexagon {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: $color-alpha-light;
  border-radius: 50%;
  overflow: visible;
}

$col-map: (
        1: 53px,
        2: 137px,
        3: 221px,
        4: 305px,
        5: 389px,
        6: 473px,
        7: 557px,
        8: 641px,
        9: 725px
);
@each $key, $value in $col-map {
  .col-#{$key} {
    left: $value;
  }
}

$row-map: (
        1: 51px,
        2: 99px,
        3: 148px,
        4: 196px,
        5: 245px,
        6: 293px,
        7: 342px,
        8: 390px,
        9: 439px,
);

@each $key, $value in $row-map {
  .row-#{$key} {
    top: $value;
  }
}

#hexagon-14 {
  top: 147px;
}

#hexagon-23 {
  top: 244px;
}

#hexagon-32 {
  top: 341px;
}

#hexagon-41 {
  top: 438px;
}


.c-controls {
  @include flex-container($spacing: center);
}

.c-pieces {
  position: relative;
  height: 300px;
}

.c-pieces__piece {
  position: absolute;
  display: inline-block;

  @for $scramble-row from 0 through 4 {
    @for $scramble-col from 1 through 9 {
      &:nth-child(#{$scramble-col + ($scramble-row * 9)}) {
        top: $scramble-row * 40px;
        left: $scramble-col * 110px - 110px;
      }
    }
  }

  @at-root .c-puzzle__hexagon & {
    width: 110px;
    height: 95px;
    top: -5px;
    left: -12px;
  }
}